<app-popup [open]="open && !!data" [title]="data?.title ?? ''" [lead]="data?.message ?? ''"
           tone="success" icon="ri-checkbox-circle-line" size="sm" [closeOnBackdrop]="false"
           (closed)="onClose()">
  @if (data?.referenceId || data?.effectiveTime || data?.sessionsNote) {
    <dl class="yp-facts">
      @if (data?.referenceId) { <div><dt>Reference ID</dt><dd>{{ data?.referenceId }}</dd></div> }
      @if (data?.effectiveTime) { <div><dt>Effective time</dt><dd>{{ data?.effectiveTime }}</dd></div> }
      @if (data?.sessionsNote) { <div><dt>Sessions</dt><dd>{{ data?.sessionsNote }}</dd></div> }
    </dl>
  }
  <ng-container popupActions>
    <button type="button" class="yp-btn yp-btn--primary" (click)="onAction()">{{ data?.buttonLabel || 'Go to Sign In' }}</button>
  </ng-container>
</app-popup>
